
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap'); 


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Yellowtail&display=swap');



* {
    box-sizing: border-box;
  }
  h1 {
    text-align: center;
    font-size: 115px; 
    font-family: 'Dancing Script', cursive;
font-family: 'Yellowtail', cursive;
    background-color: #9CADA4

  }

  #firstw{

      font-size: 30px;
      position: relative;
      top: 40px;
font-family: 'Otomanopee One', sans-serif;  
      color: white;
    font-size: 40px;





  } 


  img {
    display: block;
    width: 150px;
    float: left;
    height: 150px;
    border: 2px solid lightblue;
  }
  #image-container {
    padding-left: 400px;
    border: 2px solid black;
    width: 800px;
    margin: 0 auto;
    height: 175px;
  }

  #leftImg,
  #rightImg
  #midelImg {
    width: 300px;
    margin: 10px;
    border-radius: 30px;
  }
  span {
    margin-left: 50px;
  }
  #attempts {
    margin-left: 29px;
    font-size: 40px;
  }

  #out{

    position: absolute;
    left: 1381px;
    top: 302px;
    word-spacing: 3px;
    font-size: 30px;
  }





  #result{


position: relative;
top: 40px; 
left: 30px;
font-size: 40px;



  }


  #mychart{

    position: relative;
    top: 20px;
  }

  main{

    background-color: gray;
  }

  body{

    animation-name:changebackground ;
    animation-duration:  5s ;
    animation-iteration-count: infinite ;
  }


  @keyframes changebackground{
    
    25%{
        background-color:#FFC107
    }
    50%{
        background-color:#39A2DB
    }
    
        
    
}
